@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "نسيت كلمة المرور ؟";
}

<div class="container mt-4">
    <div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 70vh;">

        <!-- Title -->
        <h1 class="mb-4">@ViewData["Title"]</h1>

        <!-- Image -->
        <img src="~/images/customer-support.png"
             alt="Customer Support"
             class="img-fluid mb-4"
             style="max-width: 250px;" />
             <h2 > تواصل معنا سنحل المشكلة في اقرب وقت  </h2>
        <!-- Contact Section -->
        <div class="d-flex gap-4  " style="margin-top:10px;font-size:2.6rem">

            <a href="https://wa.me/96347"
               target="_blank"
               class="text-success">
                <i class="fa-brands fa-whatsapp"></i>
            </a>

            <a href="tel:+96396147"
               class="text-dark">
                <i class="fa fa-phone"></i>
            </a>

        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
